
@keyframes navLengAnim {
    0%{
        transform: translateY(-100%);
    }
    100%{
        transform: translateY(0%);
    }
}
.navLeng{
    // animation-name: navLengAnim;
    // animation-duration: 0s;
    // animation-timing-function: lianer;
    // animation-delay: 0s;
    // animation-iteration-count: 1;
    // animation-direction: normal;
    // animation-play-state: running;
    
    transform: translateY(-100%);
    z-index: 12;
    
    transition: .3s transform linear;
    
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 600px;
    z-index: 12;

    background: #191536;
    &__content{
        position: relative;
        padding: 65px 0 110px 0;
        display: flex;
        flex-direction: column;
        &__item{
            // padding: 11px 0;
            color:#fff;
            padding: 11px 233px 11px 234px;
            transition: .2s;
        }
        &__item:hover{
            color: #05C2DF;
            background: #110E25;
        }
        &__close{
            position: absolute;
            top: 35px;
            right: 233px;
            transition: .4s;

            &__line{
                overflow: hidden;
            }
        }
        .navLeng__content__close__line{
            transition: .3s;
        }
        &__close:hover{
            .navLeng__content__close__line{
                stroke:#05C2DF;
                
                -webkit-filter: drop-shadow( 0px 0px 2px #05C2DF);
                filter: drop-shadow( 0px 0px 2px #05C2DF);
            }
            
        }
        &__closeMedia{
            display: none;
            position: absolute;
            top: 33px;
            left: 33px;
            width:10px; 
            height:19px;
        }
        &__closeMedia:hover{
            .navLeng__content__close__line{
                stroke:#05C2DF;
                
                -webkit-filter: drop-shadow( 0px 0px 2px #05C2DF);
                filter: drop-shadow( 0px 0px 2px #05C2DF);
            }
            
        }

    }
}
.open__navLengAnim{
    
    transform: translateY(0%);
    
    
}
.z-index{
    z-index: 12;
}