.whyBG{
    background: linear-gradient(108.62deg, #191536 0%, #000000 77.34%);
}

.why{
    padding: 160px 0 175px 0;
    &__title{
        padding: 0 0 80px 0;
        font-weight: 900;
        font-size: 36px;
        line-height: 44px;
        text-align: center;
        color: #FFF;
        a{
            color: #05C2DF;
            font-weight: 400;
        }
    }

    &__content{
        display: flex;
        gap: 205px;
        &__item{
            display: flex;
            flex-direction: column;
            &__img{
                transition: .3s;
                margin: 0 auto;
                padding: 0 0 35px 0;
                user-select:none;

            }
            &__title{
                font-weight: 900;
                font-size: 16px;
                line-height: 19px;
                color: #FFFFFF;
                padding: 0 0 18px 0;
                text-align: center;
            }
            &__text{
                font-weight: 400;
                font-size: 16px;
                line-height: 150%;
                
                text-align: center;

                color: #929292;
            }
        }
        &__item:hover{
            
            .why__content__item__img{
                transform: scale(1.1);

            }

    }



    }
}